#homeComponent{
  --app-accent-color-primary:rgb(51, 230, 212);
  --app-accent-color-secondary:rgb(77, 204, 195);
  --app-accent-color-tertiary:rgb(15, 181, 181);
  --navbar-tint-color: rgb(64, 224, 208,0.2);
  --default-text-color:rgb(200, 200, 200);
  --heading-text-color:rgb(216, 216, 216);
  
}

.text-color-accent-primary {
  color: var(--app-accent-color-primary);
}

.text-color-accent-secondary {
  color: var(--app-accent-color-secondary)
}

.font-montserrat {
  font-family: "Montserrat", "Gill Sans";
}

.font-pt-sans {
  font-family: "PT Sans", "Times New Roman", Times, serif ;
}
.section-heading {
  font-family: "Open sans", "system-ui";
  color: var(--heading-text-color);
}

.home-text-color {
  color: var(--default-text-color)
}

.word-spacing-point-25-rem {  
  word-spacing: 0.25rem;
}

.cursor-pointer {
  cursor: pointer;
}

.home-element-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar {
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  background: linear-gradient(var(--navbar-tint-color), black);
  text-shadow: 1px 1px 3px black;
}

.image-background-gradient {
  background: radial-gradient(var(--app-accent-color-tertiary), var(--app-accent-color-primary), black);
  border-radius: 48% 25% 50% 50%;
  overflow: hidden;
}

.my-pic {
  transform: rotate(-1deg) translateY(1rem);
}

.app-accent-border-radius {
  border-radius: 48% 25% 50% 50%;
}

#about-me .about-active-pannel {
  color: var(--app-accent-color-primary);
  text-shadow: 0 0 10px var(--app-accent-color-tertiary);
  font-size: 1.05rem;
}

#about-me .about_lower-bar {
  height: 3px;
  width: 100%;
  background-color: grey;
  border-radius: 3rem;
}

#about-me .about-active-pannel .about_lower-bar {
  background-color: var(--app-accent-color-primary);
  animation: expand-slowly 0.5s 1 forwards ease-in-out;
}
@keyframes expand-slowly {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

.about-detail-container {
  overflow: hidden;
}
.about-detail-section,
.work-detail {
  transition: opacity 1s,transform 1s;
  background-color: inherit;
}

.hide {
  height: 0;
  overflow: hidden;
}

.about-detail-section.show,
.work-detail.show {
  transform: translateX(0rem);
  width: 100%;
  opacity: 1;
}

.about-detail-section.hide,
.work-detail.hide {
  transform: translateX(-30vw);
  width: 0%;
  opacity: 0;
}

.detail-icon-section i {
  font-size: 10rem;
}

#services .card,
#my-work .card {
  padding: 0 0.5rem 0 0;
  background-color: transparent;
  transition: all 0.5s;
}

.service-icon {
  font-size: 5rem;
  padding: 1rem 0 1rem 0;
  color: rgba(255, 255, 255, 0.25);
} 

#my-work .card-body {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0;
  padding-bottom: 0;
}

#services .card:hover,
#my-work .card:hover,
#my-work .card.work-active-pannel {
  text-shadow: 0px 0px 1px white;
  transform: scale(1.05);
  background: linear-gradient(
    to bottom right,
    var(--navbar-tint-color),
    rgba(1, 17, 16, 0.5)
  );
  border-radius: 3rem 1rem 3rem 3rem;
  
}

#my-work .card.work-active-pannel {
  margin-top: 1rem;
}

.my-work .card {
  width: -moz-fit-content;
  width: fit-content;
}
.work-redirect-button {
  background-color: var(--app-accent-color-tertiary);
  white-space: nowrap;
  /* color: white; */
}
.work-icon {
  font-size: 2rem;
  padding: 1rem 0 1rem 0;
  color: var(--app-accent-color-primary);
  opacity: 0.4;
}
.work-detail {
  width: 75%;
}
.card:hover .work-icon,.work-active-pannel .work-icon {
  opacity: 1;
}

.fa-leaf {
  font-size: 1.5rem;
}

.contactLinks {
  text-decoration: none;
  font-family: "pt sans", "Gill Sans";
  color: inherit;
  text-align: center;
  font-size: larger;
  padding: 0.3rem;
  border: 2px solid #ffffff40;
  border-radius: 0.5rem;
  transition: all 0.5s;
}
.contactLinks:hover {
  color: black;
  text-shadow: 1px 0 8px grey;
  border: 2px solid teal;
  background-color: var(--app-accent-color-secondary);
  color: #000 !important;
  font-weight: bold;
}
.contactLinks .fa-solid,
.contactLinks .fa-brands {
  color: var(--app-accent-color-secondary);
  font-size: 1.5rem;
  vertical-align: text-top;
  margin-right: 0.5rem;
}
.contactLinks:hover .fa-solid,
.contactLinks:hover .fa-brands {
  color: black;
}
.resumeButton {
  font-size: x-large;
  font-family: "Montserrat", "Gill Sans";
}


#scrollButtonIcon {
  animation: move-up-down 0.8s alternate-reverse ease-in-out infinite;
}
@keyframes move-up-down {
  from {
    transform: translateY(0.7rem);
  }
  to {
    transform: translateY(-0.7rem);
  }
}
.scroll-button {
  font-size: 3rem;
  text-shadow: 1px 1px 2px black;
}
.scroll-button-container {
  border-radius: 50%;
  padding: 1.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.home-element-container{
  transition: all 1s;
  filter: blur(4px);
  opacity: 0;
}
.home-element-container.visible-section{
  filter:blur(0px);
  opacity: 1;
}


@media only screen and (max-width: 800px) {
  .home-element-container {
    height: 100%;
  }

  .detail-icon-section i {
    font-size: 5rem;
  }

  .service-icon {
    font-size: 3rem;
    padding-bottom: 1rem;
  }
  .my-services .card,
  .my-work .card {
    /* border : 2px solid red; */
    padding: 0;
  }

  .work-icon {
    font-size: 2rem;
  }
  .fa-leaf {
    font-size: 1.5rem;
  }
  .work-detail {
    width: 100%;
  }
  
}
